html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

html {
  color-scheme: dark;
}

body {
  background: transparent;
  color: black;
  padding: 24px;
  margin: 0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
}

p {
  font-size: 1rem;
  line-height: 1.65rem;
  letter-spacing: 1.5px;
  font-weight: 500;
}

@keyframes move {
  0% {
    transform: translateY(calc(20vh - 24px));
  }

  85% {
    transform: translateY(calc(-100% + 100vh - 48px));
  }

  100% {
    transform: translateY(calc(-100% + 100vh - 48px));
  }
}

#__next {
  animation-name: move;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}